.app {
  width: 650px;
  margin: 0 auto;
  border: 3px solid grey;
  border-radius: 5%;
  height: 100vh;
  padding: 2vh 2vw;
}
.app a{
  text-decoration: none;
  color: inherit;
}
.app .header{
  height: 10vh;
  display: flex;
}
.header .operationPanel{
  width: 25%;
}
.button{
  padding: 2%;
  border: 2px inset grey;
  background-color: lightgrey;
}

.galleryContainer{
  width: 100%;
  height: 90vh;
  background-color: lavender;
  display:flex;
  flex-wrap:wrap;
  overflow-y: scroll;
}
/* gallery list items */
.galleryItem{
  width: 33.33%;
  height: 50vh;
  position: relative;
  overflow: hidden;

}
.galleryItem > * {
  transition-duration: .5s;
}
.galleryItem > .background{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.galleryItem > .ownerData{
  position: absolute;
  left: 2%;
  top: 2%;
  color: white;
}
.galleryItem .icons{
  position: absolute;
  bottom: 2%;
  right: 5%;
  color: white;
  filter: drop-shadow(0px, 0px, 2px, black);
  height: 2em;
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.galleryItem .iconContainer{
  position: relative;
  height: 100%;
  display: inline-block;
  width: 2em;
  cursor: pointer;
}
.galleryItem .iconContainer > *{
  position: absolute;
  left: 0;
  top: 0;
}
.galleryItem .iconContainer:hover .iconBody{
  color: lime;
}
.galleryItem .iconContainer > .iconBody{
  font-size: 1.5em;
  display: inline-block;
  color: inherit;
  position: relative;
}

.galleryItem .iconData{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: blue;
  font-size: .5em;
}
.galleryItem .icons{
  transform: translateY(120%);
}
.galleryItem .ownerData{
  transform: translateY(-120%);
}
.galleryItem:hover .icons, .galleryItem:hover .ownerData, .galleryIcon.exposed .icons, .galleryIcon.exposed .ownerData{
  transform: translateY(0%);
}
.shadowed{
  filter: drop-shadow(1px 1px 2px black);
}
/* gallery item details */

.galleryDetails{
  height: 100%;
}
.galleryDetails .imageContainer{
  height: 50%;
  margin: 0 auto;
  display: block;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: darkgray;
}
.galleryDetails .icons{
  position: absolute;
  bottom: 2%;
  right: 2%;
  color: white;
  width: 50%;
  height: 10%;
  display: flex;
  justify-content: space-around;
}
.galleryDetails .iconBody{
  height: 100%;
  display: inline-block;
  color: inherit;
  font-size: 2em;
  position: relative;
}
.galleryDetails .iconData{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: .5em;
}
.galleryDetails .postCaption{
  color: black;
}
.galleryDetails .userData{
  height: 10%;
  display: flex;
}
.galleryDetails .userData .avatar{
  width: 20%;
  background-size: cover;
  background-position: center;
}
.galleryDetails .userData .userName{
  width: 80%;
}

/* comment items */

.commentItem{
  display: flex;
}
.commentItem:nth-child(even){
  background-color: lightgrey;
}
.commentItem .userData{
  width: 34%;
  display: flex;
}
.commentItem .userData > *{
  width: 100%;
}
.commentItem .userData .userName{
  margin-left: 5%;
}
.commentItem .userData .avatar{
  background-size: cover;
  background-position: center;
  padding: 10%;
}
.commentItem .messageData{
  width: 66%;
  display: flex;
}
.commentItem .messageData .messageContent{
  height: 75%;
}
.commentItem .messageMetaData{
  display: flex;
  justify-content: space-around;
}
.commentItem .messageMetaData > *{
  font-size: .3em;
}
.commentItem .messageMetaData .messagePosted::before{
  content: 'posted: ';
}
.commentItem .messageMetaData .messageEdited::before{
  content: 'edited: ';
}

/* file upload */

.uploadContainer{
  height: 50vh;
}
.uploadContainer .uploadDropZone{
  height: 100%;
  width: 100%;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content:  center;
  align-items: center;
  align-content: center;
}
.uploadContainer .input{
  border: 1px solid black;
}
.uploadContainer #fileInput{
  display: none;
}
.uploadContainer .additionalMessage{
  color: black;
  filter: drop-shadow(1px 1px 2px white);
}
.uploadContainer .itemHovered{
  border: 4px dashed green;
}

.iconContainer .iconBody.liked{
  color: lightgrey;
}

/* login */

.loginPage{
  height: 100vh;
  width: 100vw;
  position: fixed;
  left:0;
  top:0;
  display: flex;
}
.loginDialog{
  margin: auto;
  text-align: center;
}